body {
  background-color: white;
}
.Profile__container {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  /* @section => main content */

  .Profile__container__main__userimage {
    display: flex;
    flex-direction: column;
    // margin-left: 1rem;
    align-items: center;
    border-radius: 10px;
    width: 310px;
    box-shadow: #a0d9b1 0px 3px 8px;
    @media (max-width: 768px) {
      flex-direction: row;
      width: 100%;
      align-items: center;
    }
    .profile__area {
      display: flex;
      flex-direction: column;
      // margin-left: 1rem;
      align-items: center;
      border-radius: 10px;
      width: 300px;
      background-color: #a0d9b1;
      @media (max-width: 768px) {
        width: 100px;
      }

      .user__img {
        margin-top: 5px;
        border-radius: 50%;
        width: 100px;
        height: 90px;
        @media (max-width: 768px) {
          width: 60px;
          height: 60px;
        }
      }
      .picture {
        position: relative;
      }

      label {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 2px 4px;
        background-color: #a0d9b1;
        border-radius: 50%;
        @media (max-width: 768px) {
          bottom: -4px;
          left: 50%;
          padding: 0px 2px;
          background-color: white;
        }

        &:hover {
          background-color: #e9e9e9;
          cursor: pointer;
        }

        input {
          display: none;
        }
      }

      .name {
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
        color: black;
        font-family: "PT Sans", sans-serif;
        @media (max-width: 768px) {
          font-size: 10px;
          margin-top: 8px;
        }
      }
      .user__em {
        color: gray;
        font-family: "PT Sans", sans-serif;
        @media (max-width: 768px) {
          display: none;
        }
      }
      .logout {
        margin: 5px 0px;
        background-color: #caf3c5;
        padding: 4px 15px;
        border: none;
        border-radius: 5px;
        @media (max-width: 768px) {
          padding: 1px 5px;
          font-size: 10px;
        }
        cursor: pointer;
        color: gray;
        font-family: "PT Sans", sans-serif;
      }
    }

    .conversation__list__area {
      margin-top: 0.5rem;
      width: 300px;
      margin-bottom: 0.5rem;
      @media (max-width: 768px) {
        margin-top: 0.1rem;
        margin-left: 8px;
        width: 85%;
      }
      // .search__field {
      //   border-radius: 18px;
      //   margin: 10px;
      //   padding: 5px 5px;
      //   text-align: center;
      //   width: 250px;
      //   border: 1px solid rgb(202, 202, 202);
      // }
      .conversation__list {
        background-color: #a0d9b1;
        height: 500px;
        border-radius: 10px;
        overflow-y: scroll;
        @media (max-width: 768px) {
          display: flex;
          height: 115px;
          overflow-x: scroll;
          overflow-y: hidden;
          margin-top: 0.5rem;
        }
      }
    }
  }
  .chat__area {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 0.5rem 5rem;
    box-shadow: #a0d9b1 0px 3px 8px;
    border-radius: 12px;
    position: relative;
    @media (max-width: 768px) {
      margin: 0.5rem 0rem;
    }
    .chat__header {
      background-color: #a0d9b1;
      width: 100%;
      height: 50px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      @media (max-width: 768px) {
        font-size: 10px;
        height: 30px;
      }

      h3 {
        margin-left: 1rem;
        text-align: center;
        font-family: "PT Sans", sans-serif;
      }
    }
    .chat__area__content {
      overflow-y: scroll;
      height: 619px;
      width: auto;
      margin-left: 1rem;
      margin-top: 0.15rem;
      @media (max-width: 768px) {
        height: 390px;
        margin-left: 0.1px;
        margin-top: 0.15rem;
      }
    }
    .input__field__footer {
      background-color: #a0d9b1;
      width: 100%;
      height: 50px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      display: flex;
      flex: 2;
      justify-content: center;
      align-items: center;
      font-family: "PT Sans", sans-serif;
      @media (max-width: 768px) {
        height: 40px;
      }

      input {
        padding: 10px 15px;
        border-radius: 12px;
        border: none;
        width: 80%;
        background-color: rgb(255, 255, 255);
        font-family: "PT Sans", sans-serif;
        @media (max-width: 768px) {
          padding: 8px 15px;
          margin: 5px;
        }
        &:focus {
          outline: none;
        }
      }
      .send {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-left: 5px;
        @media (max-width: 768px) {
          margin-right: 5px;
        }
      }
    }
    .noCurrentChat {
      position: absolute;
      top: 40%;
      font-size: 40px;
      color: rgb(224, 220, 220);
      margin-left: 1rem;
      bottom: 50%;
      cursor: default;
      font-family: "PT Sans", sans-serif;
      @media (max-width: 768px) {
        font-size: 15px;
        padding: 2px;
      }
    }
  }
  .users__container__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 310px;
    box-shadow: #a0d9b1 0px 3px 8px;
    @media (max-width: 768px) {
      width: 100%;
      align-items: flex-start;
    }
    .all__users {
      background-color: #a0d9b1;
      width: 96%;
      height: 50px;
      padding-top: 2rem;
      border-radius: 12px;
      text-align: center;
      font-weight: bold;
      font-family: "PT Sans", sans-serif;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .user__list {
      margin-top: 0.5rem;
      background-color: #a0d9b1;
      height: 620px;
      border-radius: 10px;
      overflow-y: scroll;
      width: 300px;
      margin-bottom: 0.5rem;
      @media (max-width: 768px) {
        height: auto;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        background-color: white;
      }

      .user {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        margin-top: 5px;
        @media (max-width: 768px) {
          align-items: center;
          padding: 1px;
        }
        &:hover {
          background-color: rgb(245, 243, 243);
          border-radius: 12px;
        }

        img {
          height: 45px;
          width: 50px;
          border-radius: 50%;
          margin-right: 10px;
          @media (max-width: 768px) {
            margin-right: 1px;
          }
        }
        span {
          font-size: 16px;
          font-family: "PT Sans", sans-serif;
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  @media (max-width: 768px) {
    height: 4px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #caf3c5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(231, 226, 226);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
// .box {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 300px;
//   height: 150px;
//   background-color: rgb(161, 233, 161);
//   border: 1px solid #000;
//   border-radius: 12px;
//   box-shadow: 24;
//   h2 {
//     text-align: center;
//     color: rgb(94, 94, 94);
//     border-bottom: 1px solid gray;
//     margin-bottom: 5px;
//   }
//   p {
//     text-align: center;
//     color: rgb(94, 94, 94);
//   }
//   .action {
//     display: flex;
//     align-items: center;
//     gap: 1rem;
//     justify-content: center;
//     .MuiButton-root {
//       background-color: rgb(224, 221, 221);
//       padding: 2px;
//       color: rgb(94, 94, 94);
//     }
//   }
// }
