body {
  background-color: white;
}
.Profile__container {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  /* @section => main content */

  .Profile__container__main__userimage {
    display: flex;
    flex-direction: column;
    // margin-left: 1rem;
    align-items: center;
    border-radius: 10px;
    width: 310px;
    box-shadow: #a0d9b1 0px 3px 8px;
    // @media (max-width: 768px) {
    //   display: none;
    // }
    .profile__area {
      display: flex;
      flex-direction: column;
      // margin-left: 1rem;
      align-items: center;
      border-radius: 10px;
      width: 300px;
      background-color: #a0d9b1;

      .user__img {
        margin-top: 5px;
        border-radius: 50%;
        width: 100px;
        height: 90px;
      }
      .picture {
        position: relative;
      }

      label {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 2px 4px;
        background-color: #a0d9b1;
        border-radius: 50%;

        &:hover {
          background-color: #e9e9e9;
          cursor: pointer;
        }

        input {
          display: none;
        }
      }

      .name {
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
        color: black;
        font-family: "PT Sans", sans-serif;
      }
      .user__em {
        color: gray;
        font-family: "PT Sans", sans-serif;
      }
      .logout {
        margin: 5px 0px;
        background-color: #caf3c5;
        padding: 4px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: gray;
        font-family: "PT Sans", sans-serif;
      }
    }

    .conversation__list__area {
      margin-top: 0.5rem;
      // background-color: #caf3c5;

      width: 300px;
      margin-bottom: 0.5rem;
      // .search__field {
      //   border-radius: 18px;
      //   margin: 10px;
      //   padding: 5px 5px;
      //   text-align: center;
      //   width: 250px;
      //   border: 1px solid rgb(202, 202, 202);
      // }
      .conversation__list {
        background-color: #a0d9b1;
        height: 500px;
        border-radius: 10px;
        overflow-y: scroll;
      }
    }
  }
  .chat__area {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 0.5rem 5rem;
    box-shadow: #a0d9b1 0px 3px 8px;
    border-radius: 12px;
    position: relative;
    @media (max-width: 768px) {
      margin: 0.5rem 1rem;
    }
    .chat__header {
      background-color: #a0d9b1;
      width: 100%;
      height: 50px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      @media (max-width: 768px) {
        width: 90vw;
      }

      h3 {
        margin-left: 1rem;
        text-align: center;
        font-family: "PT Sans", sans-serif;
      }
    }
    .chat__area__content {
      overflow-y: scroll;
      height: 619px;
      margin-left: 1rem;
      margin-top: 0.15rem;
    }
    .input__field__footer {
      background-color: #a0d9b1;
      width: 100%;
      height: 50px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      display: flex;
      flex: 2;
      justify-content: center;
      align-items: center;
      font-family: "PT Sans", sans-serif;

      input {
        padding: 10px 15px;
        border-radius: 12px;
        border: none;
        width: 80%;
        background-color: rgb(255, 255, 255);
        font-family: "PT Sans", sans-serif;
        &:focus {
          outline: none;
        }
      }
      .send {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-left: 5px;
      }
    }
    .noCurrentChat {
      position: absolute;
      top: 10%;
      font-size: 50px;
      color: rgb(224, 220, 220);
      margin-left: 1rem;
      cursor: default;
      font-family: "PT Sans", sans-serif;
    }
  }
  .users__container__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 310px;
    box-shadow: #a0d9b1 0px 3px 8px;
    .all__users {
      background-color: #a0d9b1;
      width: 96%;
      height: 50px;
      padding-top: 2rem;
      border-radius: 12px;
      text-align: center;
      font-weight: bold;
      font-family: "PT Sans", sans-serif;
    }
    .user__list {
      margin-top: 0.5rem;
      background-color: #a0d9b1;
      height: 620px;
      border-radius: 10px;
      overflow-y: scroll;
      width: 300px;
      margin-bottom: 0.5rem;

      .user {
        display: flex;
        flex: 2;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        margin-top: 5px;
        &:hover {
          background-color: rgb(245, 243, 243);
          border-radius: 12px;
        }

        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }
        span {
          font-size: 16px;
          font-family: "PT Sans", sans-serif;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #caf3c5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
